import { ElectrumNetworkProvider, TransactionBuilder } from "cashscript"
import { contract } from './password-vault-instantiate.js'

// set up network provider
const provider = new ElectrumNetworkProvider('mainnet')

// instantiate Transaction Builder
const transactionBuilder = new TransactionBuilder({ provider })

// get the utxos of the contract
const inputs = await contract.getUtxos()

// Select 1 utxo
const input = inputs[0]

// get balance of 0th (1st) utxo
const balance = input.satoshis

// declare the payout amount
const toSendAmount = 3_000n

// Add the input to transaction builder
transactionBuilder.addInput(
    input,
    contract.unlock.claim(''),
)


// Add the payout output
const payoutOutput = { to: '', amount: toSendAmount }
transactionBuilder.addOutput(payoutOutput)


// Get the remaining amount
const remainingSats = balance - 300n - toSendAmount


// Return extra satoshis to contract
if (remainingSats > 546n) {
    const changeOutput = { to: contract.address, amount: remainingSats }
    transactionBuilder.addOutput(changeOutput)
}


// build the transaction data
const transaction = transactionBuilder.build();
console.log(transaction);


// Broadcast the transaction to the network
const result = await transactionBuilder.send();
console.log(result);